/* CSS Document */


/* Style for the logo */
.logo {
	width: 180px;
	height: 135px;
	margin-bottom: -45px;
}


hr {
	text-align: left;
	margin-left: 50px;
	width: 90%;
	margin-top: -15px;
	color: gray;
}

h1 {
 margin-left: 50px;
}

h2 {
margin-left : 50px;
}


p {
 font-size: 16px;
 font-family: "Times New Roman", Times, serif;
 margin-left: 50px;
 margin-right: 50px;
 width: 90%;
}

span.__dimensions_badge_embed__{
	margin-left: 350px;
	margin-top: -62px;
}

		
/* Style for the navigation bar */
nav {
	background-color: orangered; /* Background color */
	position:static; 
	display: block;
	text-align: center; /* Alignment position of text */
	width: 100%;
	margin-top:-20px;
	 }
		
/* Style of the list for the navigation bar */
nav li {
	display: inline-block; /* For horizontal navigation links */
	margin-left: 15px;    /* Left margin in pixels */
	margin-top: 10px; /* Leave a margin above navigation list */
	margin-bottom: 10px;   /* Bottom margin to leave space below navigation list */
	}

		
/* Style for the <a> tag hyperlink */
nav a {
	color: white;    /* Color of the hyperlink */
	text-decoration: none; /* none means no underline */
	font-size: 1rem; /* Font size unit in rem meaning relative to the root element */
	text-transform: uppercase; /* Display the links in uppercase */
	}

/* When the mouse goes above the links */
nav a:hover {
	color: black; /* Hover color */
	}

/* Adjust settings on other screens */
@media screen and (max-width: 400px) {
	

	h1 {
 	margin-left: 5px;
	}
	
	h2 {
 	margin-left: 5px;
	}
	
	hr {
	margin-left: 5px;
	}
	
	p {
 	font-size: 16px;
 	font-family: Times New Roman 'sans-serif';
 	margin-left: 18px;
 	margin-right: 20px;
	}
		
	nav ul {
		text-align: left;
		width: 80%;
		margin-left: 5px;
	}	
	
	span.__dimensions_badge_embed__{
	margin-left: 295px;
	margin-top: -65px;
}
	
	
}
	